*{
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.brand {
    background-color: #ff169d;
    color: #d9fbfc;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    padding: 20px;
}
.gameBord{
    margin: 0 auto;
}

#submmit{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    display: block;
    font-weight: 900;
    background-color: #f4008e;
    color: #d9fbfc;
    border: 1px solid #ddd;
}
#submmit:hover{
    background-color: #d9fbfc;
    border: 1px solid #ff169d;
    color: #ff169d;
    font-weight: 900;
}

table,
td,
th {
    border: 1px solid#ff169d;
    border-collapse: collapse;
}

.item_name {
    background-color: #ff169d;
    color:#d9fbfc ;
    border-radius: 20px; 
    font-size: 25px; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 160px; 
    height: 100px; 
    margin: 10px;
}

.item_move, .item_now{
    border-radius: 10px;
    background: #ddd;
    width: 160px; 
    height: 100px; 
    margin: 10px;
    
} 

.img_item{
    width: 145px;
    height:85px;
    margin: 7px;
}